.readout {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin-inline:10px;
    align-items: center;
    overflow: hidden;
}

.readout-metric {
    margin-inline:0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-inline: 1px solid white;
}

.readout-metric h1 {
    margin:0;
    padding-inline: 10px;
    padding-bottom:0px;
    font-size: 12pt;
}

.readout-metric a {
    padding-inline:10px;
    margin:0;
    padding-top: 0px;
}